# Dependency directories
node_modules/
jspm_packages/
web_resources/

# Build and production
dist/
build/
out/
.next/
.nuxt/

# Python cache & build files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments and configs
.env
.env.*
!.env.example
!.env.dev
!.env.test
!.env.prod

# Docker logs
*.log

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
